body{
    background-color: peachpuff;
}

.profilepic{
    border: 2px solid black;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 10px 10px 5px grey;
}

.header{
    background-image: linear-gradient(to left, rgb(180, 171, 171) , rgb(65, 65, 65));
    letter-spacing: 1px;
    text-align: center;
    padding: 2px;
    color: white;
    border: 2px solid black;
}


